body {
    background: #f4c4f3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFDAFE, #FFCCFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFDAFE, #FFCCFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    margin: 0;
}


html {
    font-family: 'Passion One', cursive;
    height: 100%;
    margin: 0;
}




#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #FF99CC;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}


.spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

.loaded {
    opacity: 0;
    visibility: hidden;
}







#Header h1 {
    text-align: center;
    font-size: 7em;
    margin: 10px 10px;
    padding: 10px 10px;
    font-weight:normal;
}

#Header img {
    width: 75%;
    height: auto;
}





.bubbles {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.bubble {
    position: absolute;
    bottom: -100px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.55;
    animation: rise 10s infinite;
}


    .bubble:nth-child(1) {
        width: 40px;
        height: 40px;
        left: 10%;
        animation-duration: 8s;
    }

    .bubble:nth-child(2) {
        width: 20px;
        height: 20px;
        left: 20%;
        animation-duration: 5s;
        animation-delay: 1s;
    }

    .bubble:nth-child(3) {
        width: 50px;
        height: 50px;
        left: 35%;
        animation-duration: 7s;
        animation-delay: 2s;
        background-color: #0af;
        opacity: 0.2;
    }

    .bubble:nth-child(4) {
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 11s;
        animation-delay: 0s;
    }

    .bubble:nth-child(5) {
        width: 35px;
        height: 35px;
        left: 55%;
        animation-duration: 6s;
        animation-delay: 1s;
    }

    .bubble:nth-child(6) {
        width: 45px;
        height: 45px;
        left: 65%;
        animation-duration: 8s;
        animation-delay: 3s;
        background-color: #0af;
        opacity: 0.2;
    }

    .bubble:nth-child(7) {
        width: 90px;
        height: 90px;
        left: 70%;
        animation-duration: 12s;
        animation-delay: 2s;
    }

    .bubble:nth-child(8) {
        width: 25px;
        height: 25px;
        left: 80%;
        animation-duration: 6s;
        animation-delay: 2s;
    }

    .bubble:nth-child(9) {
        width: 15px;
        height: 15px;
        left: 70%;
        animation-duration: 5s;
        animation-delay: 1s;
    }

    .bubble:nth-child(10) {
        width: 90px;
        height: 90px;
        left: 25%;
        animation-duration: 10s;
        animation-delay: 4s;
    }


    .bubble:nth-child(11) {
        width: 40px;
        height: 40px;
        left: 10%;
        animation-duration: 8s;
    }

    .bubble:nth-child(12) {
        width: 20px;
        height: 20px;
        left: 20%;
        animation-duration: 5s;
        animation-delay: 1s;
    }

    .bubble:nth-child(13) {
        width: 50px;
        height: 50px;
        left: 35%;
        animation-duration: 7s;
        animation-delay: 2s;
    }

    .bubble:nth-child(14) {
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 11s;
        animation-delay: 0s;
    }

    .bubble:nth-child(15) {
        width: 35px;
        height: 35px;
        left: 55%;
        animation-duration: 6s;
        animation-delay: 1s;
    }

    .bubble:nth-child(16) {
        width: 45px;
        height: 45px;
        left: 65%;
        animation-duration: 8s;
        animation-delay: 3s;
    }

    .bubble:nth-child(17) {
        width: 90px;
        height: 90px;
        left: 70%;
        animation-duration: 12s;
        animation-delay: 2s;
    }

    .bubble:nth-child(18) {
        width: 25px;
        height: 25px;
        left: 80%;
        animation-duration: 6s;
        animation-delay: 2s;
    }

    .bubble:nth-child(19) {
        width: 15px;
        height: 15px;
        left: 70%;
        animation-duration: 5s;
        animation-delay: 1s;
    }

    .bubble:nth-child(20) {
        width: 90px;
        height: 90px;
        left: 25%;
        animation-duration: 10s;
        animation-delay: 4s;
    }


@keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }

    50% {
        transform: translate(100px);
    }

    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
}




.link-list {
    width: 60%;
    vertical-align: middle;
    padding: 1em 1.5em;
    margin: 4em auto;
    background-color: #fff0f5;
    border: dashed 2px #FFFFFF;
    color: #000000;
    border-radius: 20px;
    white-space: nowrap;
    text-align: center;
}

@media screen and (max-aspect-ratio: 1/1) {
    .link-list {
        width: 90%;
    }
}

    .link-list ul {
        padding: 0em;
        margin: 0em;
    }

        .link-list ul li {
            padding: 0em 1.5em;
            margin: 0em;
            list-style-type: none;
        }

    .link-list h2 {
        color: #000000;
        font-size: 3em;
        padding: 0.1em 0.1em;
        margin: 0.1em 0.1em;
        font-weight:normal;
    }


    .link-list ul li a, span {
        display: inline-block;
        padding: 0.2em 0;
        margin: 0.1em 0em;
        width: 80%;
        background-color: #FF99CC;
        border: dashed 2px #FFFFFF;
        border-radius: 20px;
        text-decoration: none;
        color: #6c0065;
        font-size: 3vw;
        box-sizing: border-box;
        transition-duration: 0.3s;
        vertical-align: central;
    }

        .link-list ul li a:hover, span:hover {
            border: solid 2px #6c0065;
            background-color: #FF77AA;
            width: 90%;
            font-size: 4vw;
            padding: 0em 0;
        }


@media screen and (max-aspect-ratio: 1/1) {
    .link-list ul li a, span {
        font-size: 3em;
        width: 85%;
    }
        .link-list ul li a:hover, span:hover {
            font-size: 4em;
            width: 95%;
        }
}


    .link-list .icon-l {
        margin: 0.1em 0.75em;
        width: 1em;
        vertical-align: middle;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px 10px #FFFFFF;
        border-radius: 25%;
        float: left;
    }

    .link-list .icon-r {
        margin: 0.1em 0.75em;
        width: 1em;
        vertical-align: middle;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px 10px #FFFFFF;
        border-radius: 25%;
        float: right;
    }




footer {
    width: 100%;
    height: 0.5em;
    text-align: center;
    padding: 1em 0 0.5em 0;
    margin: 1em 0 0 0;
    background-color: #FF99CC;
}








.commission-info {
    width: 70%;
    vertical-align: middle;
    padding: 1em 1.5em;
    margin: 4em auto;
    background-color: #fff0f5;
    border: dashed 2px #FFFFFF;
    color: #000000;
    border-radius: 20px;
    text-align: left;
}

@media screen and (max-aspect-ratio: 1/1) {
    .commission-info {
        width: 90%;
    }
}

    .commission-info h1 {
        font-size: 5em;
        padding: 0.1em 0.1em;
        margin: 0.1em 0.4em;
        font-weight: normal;
    }

    .commission-info h2 {
        font-size: 3em;
        padding: 0.1em 0.1em;
        margin: 0.1em 1.2em;
        font-weight: normal;
    }

    .commission-info h3 {
        font-size: 2.5em;
        padding: 0.1em 0.1em;
        margin: 0.1em 0.7em;
        font-weight: normal;
    }

    .commission-info div {
        margin: 2em;
        border: dashed 2px #6c0065;
        border-radius: 20px;
    }

    .commission-info hr {
        border-top: dashed 2px #6c0065;
    }

    .commission-info p {
        padding: 0.1em 0.1em;
        margin: 0.1em 0.7em;
        font-size: 2em;
    }

    .commission-info ul {
        margin: 0.1em 2em;
    }

    .commission-info li {
        font-size: 2em;
    }

    .commission-info a {
        line-height: 2rem;
        font-size: 1em;
        text-decoration: none;
        transition-duration: 0.3s;
        color:#6c0065;
    }

        .commission-info a:hover {
            font-size: 1.2em;
            color: #FF6699;
        }

#declaration {
    margin: 0.05em 5em;
    font-size: 1.2em;
}









